


<ion-content>
  <div id="header">
    <br>
    <img src="assets/logo.jpg" />
  </div>

  <form id="form">
    <ion-input #email placeholder="E-mail"></ion-input>
    <ion-input #password placeholder="Mot de passe" type="password"></ion-input>
<!-- <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input> -->

    <ion-button expand="block" shape="round" (click)="onSignin(email.value , password.value)" >Connexion</ion-button>
    <div *ngIf="dataLoader" class="connection-loader">
      <!-- Default Spinner       <mat-spinner [diameter]="20" [strokeWidth]="3" ></mat-spinner>

      -->
        <ion-spinner name="lines-small" color="primary"></ion-spinner>
    </div>
  </form>
</ion-content>
